.tsd-main-outer-div{
    display: inline-table;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    /* min-width: 400px; */
    width: 92%;
    /* max-width: 750px; */
    height: auto;
    min-height: 85vh;
    background: var(--black);
    text-align: center;
    margin: 20px 5px 130px 5px;
    border-radius: 10px;
    padding: 10px 10px 25px 10px;
    animation: fadeIn 0.5s 1;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
    color: #fff;
}




.form-label-outer-div-antd{
    margin: 2px;
    display: flex;
    flex-direction: column;
}

.form-label-div-antd{
    font-size: 12px;
    font-weight: bold;
    color: #f50057;
    display: flex;
}

.form-label-span-antd{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #fff;
    color: #f50057;
    padding: 0px 10px 0px 10px;
}

.blink_me {
    animation: blinker 1s linear infinite;
    font-size: 30px;
}

@keyframes blinker {
    50% {
        opacity: 0.35;
    }
}