
.cards-box {
	background-color: var(--primaryBackground);
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  /* box-shadow:5px 5px 50px -14px black; */

  display: inline-table;
  /* min-width: 400px; */
	max-width: 400px;
  margin: 20px;
  /* min-height: 230px; */
  cursor: pointer;
  animation: fadeIn 0.5s 1;
  position: relative;
  padding-bottom: 55px;

  border: 2px double transparent;
  /* background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgba(93, 12, 255, 0.726), rgba(154, 0, 250, 0.712)); */
  /* background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192)); */
  /* background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(23, 226, 74), rgb(10, 101, 238)); */
  background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(32, 90, 165), rgb(10, 101, 238));

  background-origin: border-box;
  background-clip: padding-box, border-box;

}


.card-bottom-bar{
  position: absolute;
  bottom: 4%;
  /* te */
  /* right: 8%; */
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: right;
  max-height: 30px;
}

.card-date{
  margin-right: 10px;
  color: rgba(250, 0, 135, 1);
  border: 1px solid transparent;
  border-bottom: 3px solid rgba(250, 0, 135, 1);
  /* width: 100px; */
}

.card-type{
  border-radius: 20px;
  border: 2px solid blue;
  position: relative;
  width: 100px;
  min-width: 100px;
  max-height: 30px;
}


.green-border{
  color: rgb(69, 163, 25);
  border: 2px solid rgb(69, 163, 25);
}

.yellow-border{
  color: rgb(208, 211, 26);
  border: 1.7px solid rgb(208, 211, 26);
}

.blue-border{
  color: rgba(17, 122, 255, 1);
  border: 2px solid rgba(17, 122, 255, 1);
}


.model-developers{
  cursor: pointer;
  display: inline-table;
  min-width: 150px;
  margin: 0px 5px;
  color: rgb(69, 163, 25);
  border: 2px solid rgb(69, 163, 25);
}

.cards-box:hover{
  border-radius: 10px;
  transition: transform .5s;
  transform: scale(1.05);
}


.cards-info {
  padding: 3px 5px 10px 5px;
  width: 100%;
}


.cards-title {
  font-size: 28px;
  font-weight: bold;
  color: rgba(255, 84, 17, 1);
	letter-spacing: 1px;
	padding: 10px 5px;
}


.cards-description {
  font-size: 18px;
  font-family: 'Muli', sans-serif;
  color: #ffffff;
  opacity: 0.8;
  padding: 4px 10px;
	letter-spacing: 2px;
}


@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}


.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -20px;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 20px; /* gutter size */
  background-clip: padding-box;
}

.my-masonry-grid_column >  { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .my-masonry-grid_column {
    width: 100%;
  }
}
