:root {
  --black: #161a2b;
  --white: #ffffff;
}

.main-blog-div {
    display: inline-table;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    /* min-width: 400px; */
    width: 92%;
    max-width: 750px;
    height: auto;
    min-height: 85vh;
    background: var(--black);
    text-align: center;
    margin: 20px 5px 130px 5px;
    border-radius: 10px;
    padding: 10px 10px 25px 10px;
    animation: fadeIn 0.5s 1;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
  }
  
  .blog-title {
    font-size: 45px;
    font-weight: bold;
    color: rgba(255, 84, 17, 1);
      letter-spacing: 1px;
      padding: 10px 15px;
  }
  
  .blog-subheading{
    font-size: 30px;
    font-weight: bold;
    color: rgba(17, 122, 255, 1);
      letter-spacing: 1px;
      padding: 10px 15px;
  }
  
  .blog-para {
    font-family: 'Muli', sans-serif;
    text-align: left;
    font-size: 20px;
    color: #ffffff;
    opacity: 0.9;
    padding: 6px 30px;
      letter-spacing: 2px;
  }
  
  .blog-image-div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .blog-list{
    justify-content: left;
    text-align: left;
    font-size: 20px;
    opacity: 0.9;
    padding: 10px 30px 10px 35px;
    color: #ffffff;
  }
  
  .redirect-button{
    padding: 16px;
    border: none;
    border-radius: 5px;
    margin: 10px auto;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
    color: #fff;
  }
  
  .redirect-button:disabled{
    opacity: 0.5;
  }
  
  .redirect-button::-webkit-file-upload-button{
    background-color: #5d0cff;
    border: 2px solid black;
    border-radius: 5px;
    /* border: none; */
    margin-right: 20px;
    width: max-content;
  }
  
  .blog-image{
    border: 2px solid rgba(255, 118, 20, 1);
    border-radius: 10px;
    margin: 10px 10px 15px 10px;
    max-height: 350px;
    width: auto;
    max-width: 90%;
    height: auto;
  }
  