.recent-pastebin-outer {
    display: inline-flex;
    width: 100%;
    /* max-width: 100vw; */
    padding-bottom: 30px;
    flex-wrap: wrap;
    justify-content: center;

}

.recent-pastebin {
    display: inline-flex;
    justify-content: space-between;
    color: #fff;
    word-break: break-all;
    padding: 16px;
    border-radius: 5px;
    width: 90%;
    margin: 5px;
    width: 230px;
    max-width: 230px;
    text-align: left;
    align-items: center;
    vertical-align: middle;
    background: linear-gradient(90deg,
            rgb(9, 148, 248) 0%,
            rgba(17, 122, 255, 1) 100%);
    animation: fadeIn 0.7s 1;
}

.recent-pastebin:hover {
    background: linear-gradient(90deg,
            rgb(9, 148, 248) 0%,
            rgba(17, 122, 255, 1) 100%);
    color: #fff;
}

.redirect-button {
    padding: 16px;
    border: none;
    border-radius: 5px;
    margin: 10px auto;
    cursor: pointer;
    outline: none;
    background: linear-gradient(90deg,
            rgba(93, 12, 255, 1) 0%,
            rgba(155, 0, 250, 1) 100%);
    color: #fff;
}

.redirect-button:disabled {
    opacity: 0.5;
}


.pastebin-text-area {
    position: fixed;
    display: flex;
    background: transparent;
    width: 100%;
    height: 90%;
    /* height: 91vh; */
    border: 2.5px solid rgba(17, 122, 255, 1);
    border-top: none;
    resize: none;
    padding: 9px;
    color: rgb(82, 192, 31);
    outline: none;
    line-height: 105%;
    /* font-size: 13px;  */
}

.pastebin-controls {
    position: fixed;
    display: flex;
    right: 2%;
    bottom: 7%;
    z-index: 1;
    /* padding-right: 10px; */
    margin: auto;
    justify-content: flex-end;
    align-items: right;
    text-align: left;
    vertical-align: middle;
}

.save-share-pastebin {
    display: flex;
    padding: 12px;
    border-radius: 5px;
    justify-content: space-between;
    margin-right: 10px;
    cursor: pointer;
    outline: none;
    border: none;
    min-height: 48px;
    max-height: 48px;
    background: linear-gradient(90deg,
            rgba(20, 159, 255, 1)0%,
            rgba(17, 122, 255, 1) 100%);
    color: #fff;
    text-transform: capitalize;
}


.canvas-controls {
    position: relative;
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.canvas-brush-size {
    padding: 12px;
    margin-right: 10px;
    border-radius: 4px;
    border: 2px solid #5d0cff;
    outline: none;
    width: 80px;
    background: transparent;
    color: #fff;
}


.canvas-div {
    display: inline-flex;
    position: relative;
    border: 2.5px solid rgba(17, 122, 255, 1);
}