
.ttt-grid-outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    margin-top: 20px;
    /* background-color: #f0f0f0; */
    /* border: 1px solid #000; */
}

.ttt-grid-inner {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

div.ttt-grid-cell:empty::before {
    color: rgb(78, 72, 72);
}
div.ttt-grid-cell[dataPlaceholder]:not([dataPlaceholder=""]):empty:hover::before {
    content: attr(dataPlaceholder);
}
/* div:empty:hover::before {
    content: 's';
} */

.ttt-grid-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    width: 100px;
    height: 100%;
    border: 2px solid #095CB5;
    font-size: 35px;
    position: relative;
}

.game-status {
    margin-top: 20px;
    font-size: 20px;
    height: 30px;
    color: rgb(78, 72, 72);
}

.block_0,
.block_1,
.block_2 {
    border-top: none;
}

.block_0,
.block_3,
.block_6 {
    border-left: none;
}

.block_6,
.block_7,
.block_8 {
    border-bottom: none;
}

.block_2,
.block_5,
.block_8 {
    border-right: none;
}
