.minesweeper-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.minesweeper-cell {
    font-size: 30px;
    margin: 2px;
    background: #e0dedd;
    /* border: 1px solid #48E5C2; */
    border-radius: 4px;
    float: left;
    line-height: 45px;
    height: 45px;
    text-align: center;
    width: 45px;
    cursor: pointer;
    color: #333333;
    font-weight: bold;
}

.minesweeper-cell-color-1 {
    color: #9A2515;
}
.minesweeper-cell-color-1 {
    color: #829254;
}
.minesweeper-cell-color-1 {
    color: #e71b00;
}
.minesweeper-cell-color-4 {
    color: #083045;
}
.minesweeper-cell-color-1 {
    color: #9A2515;
}
.minesweeper-cell-color-1 {
    color: #9A2515;
}
.minesweeper-cell-color-1 {
    color: #9A2515;
}
.minesweeper-cell-color-1 {
    color: #9A2515;
}
.minesweeper-cell-color-1 {
    color: #9A2515;
}
.minesweeper-cell-color-1 {
    color: #9A2515;
}
.minesweeper-cell-color-1 {
    color: #9A2515;
}