@import "~antd/dist/antd.css";
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
	--primaryBackground: #161a2b;
	--primaryColor: #ffffff;

	--boxShadow: 0 10px 10px rgba(0, 0, 0, 0.3);

	--accentColor1: rgba(17, 122, 255, 1);

}

body {
	text-align: center;
	background-color: var(--primaryBackground);
	/* background-image: linear-gradient(
		to right,
		rgba(48, 16, 255, 1) 0%,
		rgb(206, 116, 74) 21%,
		rgb(219, 74, 74) 50%,
		rgb(207, 61, 200) 79%,
		rgba(48, 16, 255, 1) 100%
	); */
}

/* ---------------------------------------------------------------------------------------------- */
/* Scroll Bar */

::-webkit-scrollbar {
	width: 16px;
}
::-webkit-scrollbar-track {
	background-color: var(--primaryBackground);
}
::-webkit-scrollbar-thumb {
	background-color: rgb(250, 0, 104);
	background-image: linear-gradient(to bottom,
			rgba(48, 16, 255, 1) 0%,
			rgb(206, 116, 74) 32%,
			rgb(219, 74, 74) 50%,
			rgb(207, 61, 200) 78%,
			rgba(48, 16, 255, 1) 100%);
	border-radius: 8px;
	border: 6px solid transparent;
	background-clip: content-box;
}
::-webkit-scrollbar-corner {
	background-color: transparent;
}


/* ---------------------------------------------------------------------------------------------- */
/* Navbar */

.my-navbar {
	background-color: var(--primaryBackground);
	border-bottom: 2px solid var(--accentColor1);
	box-shadow: var(--boxShadow);
}

.navbar-icons {
	font-size: 24px;
	padding: 2px 8px;
}


/* ---------------------------------------------------------------------------------------------- */
/* Page Info  */

.my-info-outer-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* border: 2px solid red; */
	max-width: 750px;
	align-self: center;
	/* should be at the center of the page */
	margin: 0 auto;
	margin-top: 20px;
}

.my-info-heading {
	color: rgba(255, 84, 17, 1);
	font-family: cursive ;
	font-size: 30px;
	font-weight: bold;
}
.my-info-text-outer{
	margin-top: 10px;
}
.my-info-text-para {
	color: var(--primaryColor);
	font-size: 18px;
	margin-top: 10px;
	font-family: 'Muli', sans-serif;
	opacity: 0.9;
	letter-spacing: 2px;
}
/* --------------------------------------------------- */

#treeWrapper {
	font-family: 'Roboto', sans-serif;
	/* background-color: #333; */
  }
  
  rect {
	filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.2));
	transition: all 0.2s ease-in-out;
  }
  
  rect:hover {
	transform: scale(1.05);
  }
  
  text {
	font-size: 14px;
	fill: #eee;
  }
/* 	
  circle {
	fill: #ccc;
	stroke: #333;
	stroke-width: 2;
  }
  
  text {
	font-size: 12px;
	fill: #333;
  } */
  
/* --------------------------------------------------- */
